-- CreateTable
CREATE TABLE "disciplina_bases" (
    "id" SERIAL NOT NULL,
    "nombre" TEXT NOT NULL,
    "tipo" "TipoDisciplina" NOT NULL,

    CONSTRAINT "disciplina_bases_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "disciplina_bases_nombre_tipo_key" ON "disciplina_bases"("nombre", "tipo");
