-- AlterTable
ALTER TABLE "disciplinas" ADD COLUMN "disciplina_base_id" INTEGER;

-- AddForeignKey
ALTER TABLE "disciplinas" ADD CONSTRAINT "disciplinas_disciplina_base_id_fkey" FOREIGN KEY ("disciplina_base_id") REFERENCES "disciplina_bases"("id") ON DELETE SET NULL ON UPDATE CASCADE;
